---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/layout.astro";
import Markdown from "../../components/markdown.astro";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const blogEntries = await getCollection(
    "blog",
    ({ data: { draft } }) => !draft,
  );

  return blogEntries.map((blog) => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}) satisfies GetStaticPaths;

type Props = {
  blog: CollectionEntry<"blog">;
};

const {
  blog: {
    render,
    data: { title },
  },
} = Astro.props;
const { Content } = await render();
---

<Layout title="blog" description="">
  <header class="pb-2 font-medium text-3xl md:text-4xl">
    <h1>
      {title}
    </h1>
  </header>

  <hr class="pb-5" />

  <Markdown>
    <Content />
  </Markdown>
</Layout>
