---
import { getCollection } from "astro:content";
import Layout from "../layouts/layout.astro";
import Link from "../components/link.astro";

const blogEntries = await getCollection(
  "blog",
  ({ data: { draft } }) => import.meta.env.DEV === true || !draft,
);
---

<Layout title="blog" description="">
  <main class="grid gap-5">
    {
      blogEntries.map(({ slug, data: { title } }) => (
        <Link href={`/blog/${slug}`} class="text-ednoesco-primary">
          {title}
        </Link>
      ))
    }
  </main>
</Layout>
