---
import Layout from "../layouts/layout.astro";
---

<Layout title="Noel Espino" description="Personal PGP">
  <div
    class="w-screen h-[70vh] flex justify-center items-center font-mono text-sm text-ednoesco-accent-high"
  >
    <div class="border-2 border-ednoesco-accent-high flex p-5">
      <div>768A BB25 03BF 390C 28C6 0E2C 28CE AA1B 6770 4969</div>
    </div>
  </div>
</Layout>
