<footer
  class="px-5 md:px-20 py-2 md:py-5 font-mono text-sm text-ednoesco-accent-high"
>
  <p>Noel Espino. All Rights Reserved.</p>

  <div class="flex">
    <p>ednoesco.com</p>
    <p class="ml-5">v0.4.1</p>
  </div>
</footer>
