---
import Link from "../components/common/link.astro";
---

<footer
  class="mt-10 py-2 text-center font-mono text-sm text-ednoesco-accent-high md:py-5"
>
  <p>
    ednoesco.com - v0.6.6 - <Link href="/changelog" class="underline">
      [CHANGELOG]
    </Link>
  </p>
</footer>
