<footer
  class="mt-10 py-2 text-center font-mono text-sm text-ednoesco-accent-high md:py-5"
>
  <p>
    ednoesco.com - v0.6.0 - <a
      href="/changelog"
      class="font-mono text-ednoesco-accent-high hover:text-ednoesco-accent-low hover:underline"
      >[CHANGELOG]</a
    >
  </p>
</footer>
