<header class="flex w-full justify-end py-2">
  <a
    href="/"
    class="pr-5 font-mono text-ednoesco-accent-high hover:text-ednoesco-accent-low hover:underline"
  >
    ednoesco
  </a>

  <a
    href="/gpg"
    class="font-mono text-ednoesco-accent-high hover:text-ednoesco-accent-low hover:underline"
  >
    gpg
  </a>
</header>
