---
type Route = Pick<astroHTML.JSX.AnchorHTMLAttributes, "href"> & {
  text: string;
};

const routes: Route[] = [
  { href: "/", text: "ednoesco" },
  { href: "/blogs", text: "blogs" },
  { href: "/gpg", text: "gpg" },
];
---

<nav>
  {routes.map(({ href, text }) => <a href={href}>{text}</a>)}
</nav>

<style>
  nav {
    display: flex;
    justify-content: flex-end;
  }

  nav > a {
    padding-left: 10px;
  }
</style>
