---
import Link from "./common/link.astro";

const routes: { href: string; text: string }[] = [
  { href: "/", text: "ednoesco" },
  { href: "/blogs", text: "blogs" },
  { href: "/gpg", text: "gpg" },
];
---

<nav class="mb-10 flex justify-end py-2">
  {
    routes.map(({ href, text }) => (
      <Link href={href} class="pl-5">
        {text}
      </Link>
    ))
  }
</nav>
