:root {
  --accent-high: hsl(53, 100%, 91%);
  --accent-low: hsl(48, 100%, 47%);
  --accent-border: hsl(53, 100%, 86%);
  --primary: hsl(256, 6%, 93.2%);
  --background: rgb(0, 0, 0);
  --secondary-background: rgb(0, 0, 0);
  --code-background: hsl(240, 5.1%, 11.6%);
  --font-size-xs: clamp(0.56rem, 0.01vw + 0.56rem, 0.56rem);
  --font-size-sm: clamp(0.7rem, 0.09vw + 0.68rem, 0.75rem);
  --font-size-base: clamp(0.88rem, 0.23vw + 0.82rem, 1rem);
  --font-size-md: clamp(1.09rem, 0.43vw + 0.98rem, 1.33rem);
  --font-size-lg: clamp(1.37rem, 0.74vw + 1.18rem, 1.78rem);
  --font-size-xl: clamp(1.71rem, 1.2vw + 1.41rem, 2.37rem);
  --font-size-xxl: clamp(2.14rem, 1.86vw + 1.67rem, 3.16rem);
  --font-size-xxxl: clamp(2.67rem, 2.8vw + 1.97rem, 4.21rem);
}
