---
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";

import "../global.css";

export type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />

    <title>{title}</title>
  </head>

  <body>
    <Nav />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style>
  main {
    margin: var(--spacing-8) auto;
    max-width: 1024px;
  }

  @media (max-width: 600px) {
    main {
      padding: 0px var(--spacing-12);
      margin: var(--spacing-8) 0px;
    }
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    main {
      padding: 0px var(--spacing-12);
      margin: var(--spacing-8) auto;
    }
  }
</style>
