---
import { join } from "node:path";
import { AstroFont } from "astro-font";
import { ViewTransitions, fade } from "astro:transitions";

import "../global.css";
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";

export type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;

Astro.response.headers.set(
  "cache-control",
  "public, max-age=14400, must-revalidate",
);

const makeFontPath = (folderName: string, fontName: string) =>
  join(process.cwd(), "public", "static", "fonts", folderName, fontName);
---

<!doctype html>
<html lang="en" transition:animate={fade({ duration: "0.15s" })}>
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />

    <title>{title}</title>

    <ViewTransitions />
    <AstroFont
      config={[
        {
          name: "SatoshiRegular",
          src: [
            {
              style: "normal",
              weight: "normal",
              path: makeFontPath("Satoshi", "Satoshi-Regular.woff2"),
            },
          ],
          preload: true,
          display: "swap",
          fallback: "sans-serif",
          cssVariable: "satoshi-regular",
        },
        {
          name: "SatoshiMedium",
          src: [
            {
              weight: "500",
              style: "normal",
              path: makeFontPath("Satoshi", "Satoshi-Medium.woff2"),
            },
          ],
          preload: true,
          display: "swap",
          fallback: "sans-serif",
          cssVariable: "satoshi-medium",
        },
        {
          name: "SatoshiBlack",
          src: [
            {
              weight: "800",
              style: "normal",
              path: makeFontPath("Satoshi", "Satoshi-Black.woff2"),
            },
          ],
          preload: true,
          display: "swap",
          fallback: "sans-serif",
          cssVariable: "satoshi-black",
        },
        {
          name: "BerkeleyMono",
          src: [
            {
              style: "normal",
              weight: "normal",
              path: makeFontPath("Berkeley", "Berkeley-Mono.woff2"),
            },
          ],
          preload: true,
          display: "swap",
          fallback: "sans-serif",
          cssVariable: "berkeley-mono",
        },
      ]}
    />
  </head>

  <body
    class="mx-auto max-w-screen-sm bg-ednoesco-background p-5 text-ednoesco-primary"
  >
    <Nav />

    <slot />

    <Footer />
  </body>
</html>
